@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css");
@import url("https://unicons.iconscout.com/release/v2.1.9/css/unicons.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: white;
    background-image: url('/img/background.jpg');
}

a {
    cursor: pointer;
    transition: all 200ms linear;
}

a:hover {
    text-decoration: none;
}

.link {
    color: #c4c3ca;
}

.link:hover {
    color: #ffeba7;
}

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}

h4 {
    font-weight: 600;
}

h6 span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.section {
    position: relative;
    width: 100%;
    display: block;
    
}

.full-height {
    min-height: 100vh;
}

[type="checkbox"] {
    position: absolute;
    appearance: none;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label::before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    background-color: #4a1070;
    color: #eeeeee;
    font-family: "unicons";
    content: "\e4f";
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 440px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
    border-radius: 15px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0px 0px 10px rgba(196, 195, 195, 0.795); /* Sombra para um visual futurista */
    border-radius: 15px;
    gap: flex;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    border-radius: 6px;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 45%;
    left: 0;
    transform: translate3d(0,-50%,35px) perspective(100px);
    z-index: 20;
    display: block;
    border-radius: 15px;
}

.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-style {
    color: #c4c3ca;
    background-color: #1f2029;
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.form-style:focus {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #ffeba7;
    transition: all 200ms linear;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 200ms linear;
}

.btn {
    background-color: #ffeba7;
    color: #4d1070;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}

.btn:hover {
    background-color: #4d1070;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.card-front,
.card-back {
    position: absolute;
}

.card-back {
    transform: rotateY(180deg);
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}